/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.menu {
  color: blue;
}

.ocampus_image_title {
  width: 80%;
  height: 10%;
  padding: 3%;
  padding-left: 8%;
  align-items: center;
}